<!-- Section: events -->
<section id="events" class="divider parallax layer-overlay overlay-dark-7" data-stellar-background-ratio="0.5" data-bg-img="assets/images/about/t.jpg">
    <div class="container pt-70 pb-40">
      <div class="section-title mb-30">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h2 class="mt-0 line-height-1 text-center mb-10 text-white text-uppercase">CONSEILS POUR RÉUSSIR VOTRE SEANCE DE  E-LEARNING
            </h2>
          </div>
        </div>
      </div>
      <div class="section-content">
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-6 mb-30 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
            <div class="pricing table-horizontal maxwidth400">
              <div class="row">
                <div class="col-md-6">
                  <div class="thumb">
                  <img class="img-fullwidth mb-sm-0" src="assets/images/about/e.jpg" height="242" alt="">
                  </div>
                </div>
                <div class="col-md-5 p-30 pl-sm-50">
                  <h5 class="mt-0 mb-3"><a href="#" class="text-white">PLANIFIER VOTRE TRAVAIL</a></h5>
                  <p class="mb-15 mt-15 text-white">Il est crucial de planifier votre travail en vous bloquant des plages de travail et des plages de temps libre pour réussir votre seance de elearning. </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 mb-30 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
            <div class="pricing table-horizontal maxwidth400">
              <div class="row">
                <div class="col-md-6">
                  <div class="thumb">
                  <img class="img-fullwidth mb-sm-0" src="assets/images/about/ed.jpg" height="242" alt="">
                  </div>
                </div>
                <div class="col-md-6 p-30 pl-sm-50">
                  <h6 class="mt-0 mb-5"><a href="#" class="text-white">ÊTRE DISCIPLINÉ</a></h6>
                
                  <p class="mb-15 mt-15 text-white">Définissez des objectifs réalistes, concrets et atteignables sur une séquence de travail d’environ une heure et demie.</p>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 mb-30 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
            <div class="pricing table-horizontal maxwidth400">
              <div class="row">
                <div class="col-md-6">
                  <div class="thumb">
                  <img class="img-fullwidth mb-sm-0" src="assets/images/about/k.jpg"  height="242" alt="">
                  </div>
                </div>
                <div class="col-md-6 p-30 pl-sm-50">
                  <h5 class="mt-0 mb-5"><a href="#" class="text-white">RÉVISER RÉGULIÈREMENT</a></h5>
                
                  <p class="mb-15 mt-15 text-white">Il est conseillé de réviser régulièrement chaque module  accompli et d’en faire une synthèse. </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 mb-30 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
            <div class="pricing table-horizontal maxwidth400">
              <div class="row">
                <div class="col-md-6">
                  <div class="thumb">
                  <img class="img-fullwidth mb-sm-0" src="assets/images/about/ler.jpg" height="242" alt="">
                  </div>
                </div>
                <div class="col-md-6 p-30 pl-sm-50">
                  <h5 class="mt-0 mb-5"><a href="#" class="text-white">SUIVRE VOTRE RYTHME D’APPRENTISSAGE</a></h5>
               
                  <p class="mb-15 mt-15 text-white">L’idéal est de respecter une cadence régulière d’apprentissage mais il est parfois difficile de la tenir sur plusieurs mois. Trouvez votre propre rythme.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
 

  <section class="divider parallax layer-overlay overlay-dark-4" data-background-ratio="0.5" data-bg-img="assets/images/bg/bg2.jpg">
    <div class="container pt-60 pb-60">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="owl-carousel-1col" data-dots="true">
            <div class="item">
              <div class="testimonial-wrapper text-center">
                <div class="thumb"><img class="" alt="" src="assets/images/testimonials/suso.jpg" width="250" height="100"></div>
                <div class="content pt-10">
                  <p class="lead text-white">“The use of online assessment tools is giving teachers a more fine-grained understanding of individual students' skills, and assisting them to determine the necessary next steps to enable them to achieve their own learning goals. We are seeing more effective differentiation in classrooms as a result.”</p>
                  <h4 class="author text-white mb-0">Susan Mann</h4>
                  <h6 class="title text-white mt-0 mb-15"> International Coach</h6>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-wrapper text-center">
                <div class="thumb"><img class="" alt="" src="assets/images/testimonials/paul.png" width="250" height="100"></div>
                <div class="content pt-10">
                  <p class="lead text-white">“Online learning can be a lifeline to those who have obstacles, such as geographical distances or physical disabilities.”</p>
                  <h4 class="author text-white mb-0">Paul Levinson</h4>
                  <h6 class="title text-white mt-0 mb-15">professeur de communicationr</h6>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-wrapper text-center">
                <div class="thumb"><img class="" alt="" src="assets/images/testimonials/erich.png"></div>
                <div class="content pt-10">
                  <p class="lead text-white">“The future of e-Learning is wide open! Learning doesn’t just happen during business hours in the office or in the classroom. It happens everywhere through a number of different channels.”</p>
                  <h4 class="author text-white mb-0">Erich Scheurmann</h4>
                  <h6 class="title text-white mt-0 mb-15">écrivain allemand</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Section: Mission -->
  <section id="mission">
    <div class="container-fluid pt-0 pb-0">
      <div class="row equal-height">
        <div class="col-sm-6 col-md-6 xs-pull-none bg-theme-colored wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
          <div class="pt-60 pb-40 pl-90 pr-160 p-md-30">
            <h2 class="title text-white text-uppercase line-bottom mt-0 mb-30">Pourquoi nous choisir?</h2>
            <div class="icon-box clearfix m-0 p-0 pb-10">
              <a href="#" class="icon icon-circled bg-white icon-lg pull-left flip sm-pull-none"> 
                <i class="fa fa-desktop text-theme-color-2 font-36"></i> 
              </a>
              <div class="ml-120 ml-sm-0">
                <p class="text-white">	Faciliter le partage, la production, la communication et la collaboration à distance. </p>
              </div>
            </div>
            <div class="icon-box clearfix m-0 p-0 pb-10">
              <a href="" class="icon icon-circled bg-white icon-lg pull-left flip sm-pull-none">
                <i class="fa fa-user text-theme-color-2 font-36"></i> 
              </a>
              <div class="ml-120 ml-sm-0">
                <p class="text-white">	L’évaluation des étudiants par de quizz </p>
              </div>
            </div>
            <div class="icon-box clearfix m-0 p-0 pb-10">
              <a href="#" class="icon icon-circled bg-white icon-lg pull-left flip sm-pull-none">
                <i class="fa fa-money text-theme-color-2 font-36"></i> 
              </a>
              <div class="ml-120 ml-sm-0">
                <p class="text-white">Faciliter l’accès aux ressources et services </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 p-0 bg-img-cover wow fadeInRight hidden-xs" data-bg-img="assets/images/photos/ab1.jpg" data-wow-duration="1s" data-wow-delay="0.3s">
        </div>
      </div>
    </div>
  </section>