
<div class="header-top bg-theme-color-2 sm-text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="widget no-border m-0">
          <ul class="list-inline">
            <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-white"></i> <a class="text-white" href="#">123-456-789</a> </li>
            <li class="text-white m-0 pl-10 pr-10"> <i class="fa fa-clock-o text-white"></i> Mon-Fri 8:00 to 2:00 </li>
            <li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope-o text-white"></i> <a class="text-white" href="#">contact@yourdomain.com</a> </li>
          </ul>
        </div>
      </div>

      <div class="col-md-4">
        <div class="widget no-border m-0">
          <ul class="list-inline text-right sm-text-center">
            <li>
              <a href="#" class="text-white">FAQ</a>
            </li>
            <li class="text-white">|</li>
            <li>
              <a href="#" class="text-white">Help Desk</a>
            </li>
            <li class="text-white">|</li>
            <li>
              <a href="#" class="text-white">Support</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="header-nav">
   
    <div class="header-nav-wrapper navbar-scrolltofixed bg-white">
      <div class="container">
        <nav id="menuzord-right" class="menuzord default">
          <a class="menuzord-brand pull-left flip" href="/home">
            <img src="assets/images/logo-wide.png" alt="">
          </a>
         
          <ul class="menuzord-menu">
            <li class="active"><a href="/home">Home   <span class="indicator"></span></a>                                     
            </li>
            <li><a href="/departement">Departement</a>

                            
              <ul class="dropdown">     
                <li *ngFor="let departement of departements" > <a href="/section/{{departement.id}}">{{departement.nom}} </a>
                  <ul class="dropdown">
                    <li><a href="departement/{{departement.id}} ">Header Style1</a></li>     
                  <ul class="dropdown">
              </ul>
              </ul>

            <ul class="dropdown">
                
              <li *ngFor="let section of sections" > <a href="/section/{{section.id}}">{{section.nom}} </a>


                <ul class="dropdown">
                  <li><a href="section/{{section.id}} ">Header Style1</a></li>
          </ul>

    
            </ul>
          </ul>


            </li>
            <li><a href="/enseignant">Enseignants</a> </li>
            <li><a href="/etudiant">Etudiant</a> </li>
            <li><a href="/publication">Publication</a> </li>



            

            <li><a href="/about">About</a> </li>

            
              <li >             <a> 
<svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" fill="currentColor" class="bi bi-person-circle">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg>      <a  href="/profil" > Profile </a>    </a> 

            

          </li>

               </ul>
             
          
        </nav>
      </div>
    </div>
    
    </div>

  
  
