
  <!-- Start main-content -->
  <div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="assets/images/bg/bg6.jpg">
      <div class="container pt-70 pb-20">
        <!-- Section Content -->
        <div class="section-content">
          <div class="row">
            <div class="col-md-12">
              <h2 class="title text-white text-center">Etudiant Details</h2>
              <ol class="breadcrumb text-left text-black mt-10">
                <li><a href="#">Home</a></li>
                <li><a href="#">Pages</a></li>
                <li class="active text-gray-silver">Page Title</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>
      
    <!-- Section: Student Details -->
    <section class="">
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 pull-right pl-60 pl-sm-15">
              <div>
                <div class="project-details p-15 pt-10 pb-10">

               
                  </div>
                  <h4 class="name font-24 mt-0 mb-0">{{user.fullname}}</h4>
              </div>
                <ul class="nav nav-tabs mt-30">
                  <li class="active"><a data-toggle="tab" href="#tab1" aria-expanded="false">Profile</a></li>
                </ul>
                <div class="tab-content">
                  <div id="tab1" class="tab-pane fade active in">
                    <dl class="dl-horizontal doctor-info">
                      <dt>Nom et Prenom</dt>
                      <dd>
                        <ul class="list theme-colored angle-double-right m-0">
                         {{user.fullname}}
                    
                        </ul>
                      </dd>
                      <hr>
                      <dt>Adresse</dt>
                      <dd>
                        <ul class="list theme-colored angle-double-right m-0">
                        {{user.adresse}}
                        </ul>
                      </dd>
                      <hr>
                      <dt>Grade</dt>
                      <dd>
                        {{user.grade}}
                      </dd>
                      <hr>
                      <dt>Email</dt>
                      <dd>
                        <ul class="list theme-colored angle-double-right m-0">
                         {{user.email}}
                        </ul>
                      </dd>
                   
                     
                     
                     
                    
                    </dl>
                  </div>
               
                  
                </div>
              <!-- Portfolio Gallery Grid -->

             
              <!-- End Portfolio Gallery Grid -->

              
              <h3 class="text-uppercase title line-bottom mt-30">liste des <span class="text-theme-color-2 font-weight-700">cours</span></h3>
              <div class="row mb-15">
                <div class="col-sm-6 col-md-8">
                </div>
                <div class="col-sm-6 col-md-8">
                 

                  <div class="col-sm-6 col-md-3" *ngFor="let profil of profils">
                    <div class="project mb-30 border-2px">
                      <div class="thumb">
                        <img class="img-fullwidth" alt="" src="../../assets/assets/images/project/c1.jpg">
                        <div class="hover-link">
                        <a class="btn btn-flat btn-dark btn-theme-colored btn-md pull-left font-20" href="/profil/{{profil.id}}"><span>$500</span> </a>
                        </div>
                      </div>
                    <div class="project-details p-15 pt-10 pb-10">
                      <h4 class="font-weight-700 text-uppercase mt-0">
                          <a href="page-courses-accounting-technologies.html">{{ profil.nom }}</a>
                      </h4>
                      </div>
                    </div>
                  </div> 

                
                </div>
              </div>
              <hr>
              <div class="row mb-15">
                <div class="col-sm-8 col-md-4">
                  <div class="thumb"> <img alt="featured project" src="assets/images/project/lg2.jpg" class="img-fullwidth"></div>
                </div>
                <div class="col-sm-6 col-md-8">
                  <h4 class="line-bottom mt-0 mt-sm-20">Development Studies</h4>
                  <ul class="review_text list-inline">
                    <li><h4 class="mt-0"><span class="text-theme-color-2">Price :</span> $125</h4></li>
                    <li>
                      <div class="star-rating" title="Rated 4.50 out of 5"><span style="width: 90%;">4.50</span></div>
                    </li>
                  </ul>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquam ipsum quis ipsum facilisis sit amet.Aliquam ipsum quis ipsum facilisis sit ame ipsum quis ipsum facilisis sit amet facilisis consecte.</p>
                  <a class="btn btn-dark btn-theme-colored btn-sm text-uppercase mt-10" href="page-courses-development-studies.html">view details</a>
                </div>
              </div>
              <hr>
             
            </div>
            <div class="col-sx-20 col-sm-18 col-md-4 sidebar pull-left">
              <div class="doctor-thumb">
                <img src="assets/images/portfolio/s1.jpg" alt="">
              </div>
            
             
              
             
            </div>
          </div>
        </div>
      </div>

      
    </section>

  </div>
  <!-- end main-content -->
  